body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0%;
  padding: 0%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 10%;
}

header {
  background-color: black;
  height: 65px;
  z-index: 1;
  width: 100%;
}

.homepage-img {
  width: 100%;
}

.nav-bar {
  align-items: center;
  display: table;
}

nav ul {
  display: flex;
  padding: 0px;
}

nav {
  display: block;
}

a {
  text-decoration: none;
}

nav li {
  display: block;
  padding: 10px;
}

.logo {
  padding: 10px;
  font-size: x-large;
  font-weight: 800;
  display: table-caption;
  font-style: italic;
  font-family: math;
  color: #ffa75f;
}

.cta-home {
  color: white;
  font-weight: 700;
}

.cta-home:hover {
  box-shadow: inset 120px 0 0 0 #883e00;
  cursor: pointer;
}

.face-text {
  color: white;
  font-size: large;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0 0 0 / 40%);
}

footer {
  color: white;
  background-color: black;
}

.homepage-img2 {
  width: 100%;
}

.homepage-main {
  position: relative;
}

.face-text2 {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vist-text {
  text-shadow: 2px 2px 4px black;
  background: rgb(0 0 0 / 30%);
}

.cta-homepage2 {
  color: white;
  background-color: #c0880f;
}

.cta-homepage2:hover {
  box-shadow: inset 200px 0 0 0 black;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  padding-right: 20px;
  font-size: larger;
}

.icons {
  padding: 15x;
  font-size: largr;
}

/*Our Locations*/

.our-location-img {
  width: 100%;
}

.locations-text {
  color: #5b2900;
}

.our-location-main {
  display: grid;
  grid-gap: 10px;
  padding-top: 70px;
  background-color: lightgray;
}

.cta-our-locations {
  background-color: #5b2900;
  color: white;
  padding: 3px;
  display: inline-block;
}

.cta-our-locations:hover {
  box-shadow: inset 170px 0 0 0 black;
  cursor: pointer;
}

/*About Us*/

.about-us {
  padding-top: 50px;
  background: lightgrey;
}

.about-us-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.about-us-face {
  display: grid;
  grid-gap: 10px;
}

.about-us-text {
  max-width: 500px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.h1-about-us {
  text-align: center;
  color: #5b2900;
  font-style: italic;
}

/*Contact Us*/

.form-container {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}

form {
  padding: 2em;
  border-radius: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin-left: 6px;
  background: #5b2900;
  border: none;
  width: 100%;
  padding: 20px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: larger;
}

button:hover {
  box-shadow: inset 700px 0 0 0 black;
}

label {
  display: block;
  margin-top: 1rem;
}

.error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.message {
  height: 45px;
}

.h1-contact-us {
  margin-top: 50px;
  text-align: center;
}

/*Locations info*/

.locations-main {
  padding-top: 40px;
  background-color: lightgrey;
}

.location-main-img {
  width: 100%;
  object-fit: cover;
}

.info-text {
  margin: 10px;
  width: 350px;
}

.cta-our-locatonsinfo {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 8px;
}

/* Book now info*/

.main-booknow {
  background-color: lightgrey;
}

.book-now-details {
  padding-top: 55px;
  margin: 0 auto;
  width: 250px;
  display: grid;
}

.select-details {
  height: 25px;
}

.basket {
  margin: 0 auto;
  text-align: center;
  padding: 7px;
  background-color: #5b2900;
  width: 238px;
  margin-top: 5px;
}

.basket:hover {
  box-shadow: inset 700px 0 0 0 black;
}

.basket-cta {
  color: white;
}

/* checkout*/

.main-checkout {
  background-color: black;
}

.checkout-form {
  box-shadow: 2px 2px 10px #454545;
  background-color: #ffffff;
  text-align: center;
  width: 445px;
  padding: 10px;
  margin: 90px auto;
}

.card h2 {
  color: #5b2900;
}

.checkout-form .card form {
  display: flex;
  flex-direction: column;
}

.checkout-form .card .input-details {
  display: flex;
}

.checkout-form .card .input-details input {
  width: 20%;
  flex: 1;
  margin: 10px 5px;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 15px 0;
  padding: 4px;
  font-size: 1rem;
  outline: none;
}

.submit-button {
  border: 0;
  padding: 20px;
  background-color: #5b2900;
  color: #ffffff;
  font-weight: bold;
  margin-top: 20px;
  box-shadow: 1px 1px 1px black;
}

.submit-button:hover {
  background-color: #5b2900;
  box-shadow: none;
}

/*check out sucsess*/

.checkout-sucsess-main {
  margin-top: 50px;
  background-color: lightgrey;
}

.checkout-sucsess-img {
  height: 450px;
  width: 100%;
  object-fit: contain;
}

.checkoutsucess-h1 {
  text-align: center;
  color: #5b2900;
}

.checkoutsucsess-info {
  text-align: center;
  color: #5b2900;
  font-size: larger;
}

@media (min-width: 600px) {
  header {
    background-color: black;
    height: 65px;
    z-index: 1;
    position: fixed;
    width: 100%;
  }

  .nav-bar {
    align-items: center;
    display: flex;
  }

  .homepage-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  .face-text {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }

  .face-text2 {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }

  .our-location-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-top: 70px;
    background-color: lightgray;
  }

  .location-main-img {
    width: 100%;
    object-fit: cover;
    height: 550px;
    margin-top: 25px;
  }

  .about-us-face {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .cta-homepage2 {
    color: white;
    background-color: #c0880f;
    font-size: large;
    padding: 8px;
  }
}

nav ul {
  display: flex;
}
